<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}О нашем проекта{% endblock %}
{% block content %}
<h1>О нашем проекте</h1>
<p>
    Ищете, куда отдать кота на передержку в Москве? На помощь придет
    наш сервис «» — передержка на правах домашнего любимца. Первое знакомство с 
    питомцем - 190 руб. Мы также можем взять на
     передержку: хомячка, птиц, рыбок, хорька, енота, попугая. Узнать подробнее.
     «» экономит ваше время на этапе бронирования.  
</p>
{% endblock %}